.favsHeader {
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
}

.favsList {
    display: flex;
    flex-wrap: wrap;

    .outerFav {
        position: relative;
        margin: 30px auto;
    }

    .delButton {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 5px;
        cursor: pointer;
        border: 1px inset gray;
        // background-color: #3D52D5;
    }

    .favCard {
        height: 350px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        z-index: 0; 
        cursor: -webkit-grab;
        border: 20px solid #C0C5C1;
        outline: 2px solid black;
        -moz-outline-radius: 10px;
        box-shadow: 5px 5px 3px rgba(71,71,71,1);
        padding: 2px;

        .favImage {
            width: 200px;
            height: 235px;
        }

        .infoDiv {
            border-top: 2px solid black;
            width: 97%;
            color: black;
            padding-left: 10px;
            line-height: 1.4em;
            height: 20%;
            margin-top: 10px;

            .favBeerName {
                font-weight: 500;
                font-size: 1.3em;
            }

            .favBrewery {

            }

            .favStats {

            }
        }
    }
}