@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
  }

.brewHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    height: 60px;
    width: 95%;
    margin: 10px 0;
}

@media(max-width: 627px) {
    .brewHeader {
        font-size: 2.5em;
    }
}

.brewList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;

    .brewCard{
        display: flex;
        margin: 3vw 5vw;
        border: 3px solid #424B54;
        height: auto;
        width: 380px;
        min-width: 290px;
        padding: 1vw 2vw;
        @include rounded;
        box-shadow: 8px 8px 7px #888888;
        cursor: pointer, auto;
        text-decoration: none;

            .brewLogo {
                height: 85px;
                width: 85px;
            }
            
            .brewInfo {
                flex-direction: column;
                margin-left: 2vw;
                line-height: 20px;
                letter-spacing: 1px;
                color: black;
                
    
                .brewName {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 6px;
                }
            }    
    }
}

@media(max-width: 460px) {

    .brewList {
        margin: 0 5px;
    }
}

