@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
  }

.brewHeader {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.brewList{
    display: flex;
    flex-wrap: wrap;

    .brewCard{
        display: flex;
        align-items: center;
        margin: 20px auto;
        border: 3px solid #424B54;
        height: 15vh;
        width: 37vw;
        padding: 1vw 2vw;
        @include rounded;
        box-shadow: 8px 8px 7px #888888;
    
        .brewLogo {
            height: 85px;
            width: 85px;
        }
        
        .brewInfo {
            flex-direction: column;
            margin-left: 2vw;
            line-height: 20px;
            letter-spacing: 2px;
            color: black;

            .brewName {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 6px;
            }
        }
    }
}

