.nameHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}



.topHalf{

    display: flex;
    justify-content: space-between;
    margin-bottom: 6vh;

    .logoDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;

        .logo{
            height: 375px;
            width: 375px;
            margin: 40px 0 0 100px; 
        }
    }

    .mapAddress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 45%;
        margin: 60px 40px 0 0;

        .brewMap {
            height: 50vh;
            width: 38vw;
            border: 1px solid black;

            .brewIcon {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 540px){
    .nameHeader {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .topHalf {
        flex-direction: column;
        align-items: center;
        margin: 0;

        .logoDesc {
            margin: 0px;

            .logo {
                margin: 10px;
                height: 40vh;
                width: 40vh;
            }
        }

        .mapAddress {
            height: 30vh;
            margin: 20px;
            width: 80%;
            
            .brewMap {
                height: 100%;
                width: 80%;
            }
        }
    }   
}


.brList {
    display: flex;
    flex-wrap: wrap;

    .outerDiv {
        position: relative;
        margin: 40px auto;

        .beerCard {
            position: relative;
            height: 200px;
            width: 200px;
            margin: 0 3vw;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            text-align: center;
            border-radius: 10%;
            background-color: #808D8E;
            text-decoration: none;
            z-index: 0;
            cursor: pointer, auto;
            box-shadow: 10px 9px 4px rgba(71,71,71,1);

            .beerName, .labelImage {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: transform 1s;
                backface-visibility: hidden;
            }

            .beerName {
                background-color: #FCFAFA;
                color: black;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .labelImage {
                border-radius: 10%;
                transform: rotateY(180deg);
            }
        }

        .beerCard:hover {
            .labelImage {
                transform: rotateY(360deg)
            }

            .beerName {
                transform: rotateY(180deg);
            }
        }
    
        .heartIcon {
            font-size: 33px;
            position: absolute;
            z-index: 2;
            right: 65px;
            top: 10px;
            cursor: pointer;
        }

    }

    
}
