.beersBackground {
    background-color: #C0C5C1;
}

.searchBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 2em;

    .beerInput {
        height: 40px;
        width: 250px;
        border: 4px inset lightgray;
        text-align: center;
    }

    .beerInput::placeholder {
        font-size: 1.5em;
    }
}

.beersList {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;

    .beerCards {
        position: relative;
        margin: 40px auto;

        .card {
            position: relative;
            margin: 0 30px;
            height: 200px;
            width: 200px;
            perspective: 400px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            text-align: center;
            border-radius: 10%;
            background-color: #808D8E;
            color: black;
            text-decoration: none;
            z-index: 0;
            cursor: pointer, auto;
            box-shadow: 10px 9px 4px rgba(71,71,71,1);
            

            .beerName, .labelImage {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: transform 1s;
                backface-visibility: hidden;
            }

            .beerName {
                background-color: #FCFAFA;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .labelImage {
                border-radius: 10%;
                transform: rotateY(180deg);
            }
        }

        .card:hover {
            .labelImage {
                transform: rotateY(360deg)
            }

            .beerName {
                transform: rotateY(180deg);
            }
        }

        .heartIcon {
            font-size: 33px;
            position: absolute;
            z-index: 2;
            right: 40px;
            top: 10px;
            cursor: pointer;
        }
    }
}

