

.messageView {
    display: flex;
    height: 86vh;

    .users {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        height: 100%;
        border-right: 3px solid black;
        font-size: 2em;
        padding: 1em;

        .usersTitle {
            text-decoration: underline;
        }
    }

    .chatRoom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75vw;
        height: 100%;
        background-color: #86BAA1;

        .messages {
            flex-wrap: wrap;
            height: 56vh;
            width: 56vw;
            border: 2px solid black;
            overflow: scroll;
            padding: 20px;
            background-color: white;

            .message {
                display: flex;
                margin-bottom: 5px;
                letter-spacing: 1.5px;

                .author {
                    font-weight: bold;
                    width: 15%;
                    text-align: end;
                    padding-right: 20px;
                }

                .messageText {
                    width: 80%;
                }
            }
        }

        .messageInput {
            width: 56vw;
            padding: 20px;
            border: 2px solid black;
        }
    }
}