$primary-color: #FCFAFA;
$secondary: #424B54;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    border-bottom: 4vh solid $secondary;
    padding: 0 30px;
    background-color: $primary-color;

    .hamburger {
        font-size: 2em;
        cursor: pointer;
    }
}

.dropdown {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
        width: auto;
        background-color: #424B54;
        z-index: 3;
        position: absolute;
        border-bottom-left-radius: 10px;

        .logInOut {
            text-decoration: none;
        }
    
        .navButtons{
            margin: 10px;
            font-size: 1.5em;
            font-weight: bold;
            background-color: #424B54;
            color: $primary-color;
            border: none;
            cursor: pointer;
        }  
    }
}
