$primary-color: #FCFAFA;
$secondary: #424B54;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    border-bottom: 4vh solid $secondary;
    padding: 0 30px;
    background-color: $primary-color;

    .hamburger {
        font-size: 2em;
        cursor: pointer;
    }
}

.dropdown {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

    .menu {
        position: fixed;
        right: 0;
        top: 16vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
        width: auto;
        background-color: #424B54;
        z-index: 3;
        border-bottom-left-radius: 10px;
        transition: transform .3s;
        overflow: scroll;

        .logInOut {
            text-decoration: none;
        }
    
        .navButtons{
            text-align: end;
            width: 15vw;
            margin: 10px;
            font-size: 1.5em;
            font-weight: bold;
            background-color: #424B54;
            color: $primary-color;
            border: none;
            cursor: pointer;
        }
        
        .navButtons:hover {
            background-color: black;
            font-size: 2em;
            border-radius: 10px;
            text-align: center;
            width: 17vw;
        }
    }

    // #menu.hide {
    //     transform: translate3d(-100vw, 0, 0);
    // }

    // #menu.show {
    //     transform: translate3d(0vw, 0, 0);
    //     overflow: hidden;
    // }
}
