$primary-color: #FCFAFA;
$secondary: #424B54;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    border-bottom: 4vh solid $secondary;
    padding: 0 30px;
    background-color: $primary-color;

    .rightNav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 14vh;

            .logInOut {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: .5vh;
                padding: 5px;
                border-radius: 5px;
                height: 2vw;
                width: 4vw;
                font-size: 15px;
                font-weight: bold;
                border: 1px solid black;
                color: $secondary;
            }
    
            .navButtons{
                margin: 0 0 .1vh 3vw;
                font-size: 25px;
                font-weight: bold;
                background-color: $primary-color;
                border: none;
                cursor: pointer;
            }  
    }

    
}