.beerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    background-color: #435058;
    padding: 0 3vw;

    .headerImage {
        height: 11vh;
        width: 11vh;
    }
}

.beerInfo {
    display: flex;

    .labelPic {
        margin: 4vw;
        max-width: 164px;
        max-height: 262px;
     }

     .stats {
         margin: 4vw 6vw;
         line-height: 30px;
         font-size: 20px;
         letter-spacing: 1px;
     }
}
