.beerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    background-color: #435058;
    padding: 0 3vw;

    .headerImage {
        height: 11vh;
        width: 11vh;
    }
}

.backArrow {
    margin: 20px 0 0 20px;;
    font-size: 2em;
    cursor: pointer;
}

.beerInfo {
    display: flex;

    .labelPic {
        margin: 4vw;
        max-width: 164px;
        max-height: 262px;
     }

     .stats {
         margin: 4vw 0 4vw 6vw;
         line-height: 30px;
         font-size: 20px;
         letter-spacing: 1px;

         .cervezaName {
            border-bottom: 2px solid black;
            font-size: 1.5em;
         }
         .beerDescription {
             padding-right: 20px;
         }

         .abvStyle {
             font-weight: bold;
         }

         .rate4 {
             letter-spacing: 3px;
         }
     }
}

.reviewsContainer {
    display: flex;
    justify-content: center;

    .ribbon {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 6px double #435058;
        height: 3em;
        width: 20%;
        margin-bottom: 20px;

        .addReview {
            height: 20px;
            width: 40px;
            border: 2px solid black;
        }
    }
}

.modal1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    .modalHeader {
        font-size: 1.25em;
    }

    .nameStar {
        display: flex;
        flex-direction: row;
        margin: 5px;
        width: 70%;

        .starRating1 {
            letter-spacing: 4px;
            margin-left: 2em;
        }
    }

    .modalInput {
        width: 70%;
        height: 60%;
        font-size: 1em;
    
    }

    .submitButton {
        align-self: flex-end;
        margin: 1em 15%;
        background-color: #435058;
        border-radius: 5px;
        color: white;
    }
}

.reviewCard {
    display: flex;
    align-items: flex-start;
    height: 4.5em;
    border-bottom: 2px solid black;
    margin-right: 15vw;
    padding-left: 10vw;

    .nameEditDelete {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        width: 10vw;

        .reviewerName {
            font-size: 1.25em;
            margin-right: 2vw;
            font-weight: 500;
            text-align: end;
        }

        .putDelete {
            margin: 2px;
            height: 2em;
            width: 5em;
            border-radius: 5px;
            border: 1px solid black;
            background-color: #C0C5C1;
            font-weight: bold;
        }
    }
    
    .starsReview {
        border-left: 2px solid black;
        height: 3em;
        padding-left: 2vw;
        width: 80%;

        .rate2 {
            letter-spacing: .2em;
        }

        .reviewText {
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 660px){
    .beerHeader {
        padding: 0;

        .bpLogo {
            display: flex;
            text-align: end;
            width: 50vw;
            margin-right: 3vw;
        }
    }

    .beerInfo {
        flex-direction: column;
    }

    .reviewsContainer{
        .ribbon {
            width: 30%;
        }
    }

    .reviewCard {
        height: auto;

        .nameEditDelete {
            .reviewerName {
                font-size: 1em;
            }
        }

        .starsReview {
            height: auto;
        }
    }
}
