.background {
    
    

    .home {
        height: 78vh;
        // -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 80%, 59% 16%);
        // clip-path: polygon(0 0, 80% 0, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 80%, 59% 16%);
        background-image: url(https://s3-us-west-1.amazonaws.com/local-brew1/mnm-all-552510-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        .homeText {
            font-size: 5em;
            font-family: 'Rock Salt', Helvetica;
        }
    }

    .footer {
        height: 7vh;
        background-color: #424B54;
    }
}


